footer{
    padding: 40px 60px 20px 60px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #595959;
    color: #f9f9f9;
}

.footerContent{
    display: flex;
    justify-content: space-between;
}

.footerBanner{
    width: 40%;
}

footer p{
    font-weight: 200;
}

.footerLinks{
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 20px;
    padding-right: 20px;
}

footer h1{
    font-size: 2rem;
}

footer h2{
    font-size: 1.5rem;
}

.newsletterSection{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.emailDiv > input{
    width: 300px;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 7px;
    margin-right: 15px;
    border: 0;
    border-radius: 5px;
}

.socials{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 10px;
}

.copyrightSection{
    padding: 5px;
    text-align: center;
    font-weight: 600;
}