header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 50px;
    background-color: #595959; 
    background-color: transparent; /*Use this property in homepage only. So that the header's background gets transparent. */
    color: #f9f9f9;
    position: absolute;
}

header h1{
    margin: 5px;
}

nav{
    width: 45%;
    margin: 10px;
}

nav > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

nav li{
    padding: 5px 15px;
}

#loginNav{
    border: 1px solid white;
    border-radius: 5px;
}
