*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.outermostDiv{
  /* background-color: #595959; */
  background-color: #f9f9f9;
  color: #000;
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #839788;
  text-decoration: underline;
}

hr{
  width: 100%;
  height: 1px;
}