*{
  box-sizing: border-box;
}

.outermostDiv{
  background-color: #595959;
  color: #f2f2f2;
  width: 100%;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #839788;
  text-decoration: underline;
}

hr{
  width: 100%;
  height: 1px;
}